span.empower{
    color: var(--82);
}

#tooltip, #tooltip-menu{
    background-color: var(--82);
color: var(--12);
padding: 8px 12px;
border-radius: 8px;
font-size: 14px;
position: absolute;
bottom: -32px;
left: 28px;
text-decoration: none;
}